



<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">SIGN UP NOW</h2><br>
              
              <div class="form-outline form-white mb-4">
                <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, placeholder: 'Email', label: false%>

              </div>

              <div class="form-outline form-white mb-4">
                <%= f.input :password,
                required: true,

                input_html: { autocomplete: "new-password", size: 20 }, placeholder: 'Password', label: false  %>
              </div>
              <div class="form-outline form-white mb-4">
                <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }, placeholder: 'Confirm password', label: false %>
              </div>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

              <%= f.button :submit, "Sign up", class: "btn btn-warning" %>

            </div>

            <div>
              <%= link_to "Log in", new_session_path(resource_name) %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
